body {
    h1 {
        font-family: "title-font";

    }

    p {
        font-family: "navbar";
    }
}





main {
    .home {
        width: 100%;
        padding-top: 40vh !important;

        .flex{

            font-family: "title-font";
        }
        .left {
            button {
                border: none;
                padding: 1rem;
                border-radius: 22px;

            }


        }

        h1 {
            font-family: "title-font";
            font-size: 65px;
            font-weight: 500 !important;
        }
    }

    p {
        font-family: "navbar";

    }

    img {
        width: 50vw;
    }


    // about

    .about {
        background-color: rgb(250, 249, 251);

        div {
            svg {
                width: 17% !important;
            }
        }

        .about-flexing {
            img {
                border-radius: 22px !important;
                width: 100%;
                padding-inline: 50px;

            }
        }

        .info {
            box-shadow: 5px 10px 8px 10px #afaeae;
            padding-inline: 15px !important;
            width: 30vw !important;
            border-radius: 10px;
        }
    }

    // progress
    .part-progress {
        padding-inline: 5rem !important;
        gap: 20px !important;
    }

    .child {
        padding-inline: 2rem;
        box-shadow: 5px 10px 8px 10px #afaeae !important;
        border-radius: 10px;
        padding: 2vh 2vw !important;
    }

}

// resume

.resume {
    div {
        svg {
            width: 17% !important;

        }
    }

    .child2 {
        .point {
            border-radius: 50% !important;
            width: 2px !important;
        }
    }
}

// portfolio
#portfolio{
    .portfolio{
        div{
            h1{
                background: -webkit-linear-gradient(60deg, rgba(81, 65, 62, 1), rgba(166, 94, 55, 1) 72%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'title-font';
                font-weight: bold;
            }
            svg{
                color: rgb(252, 192, 160);
                width: 20% !important;
            }
            p{
                font-family: "p-font";
                font-size: 16px;
                color: rgb(69, 74, 78);
            }
            .quis-p{
                width: 50%;
            }
        }
        div{
            div{
                a{
                    font-family: 'p-font';
                    font-size: 0.938rem;
                    transition: 0.5s;
                }
                a:nth-child(1){
                    background-color: $orange;
                    color: white !important;
                    scale: 100%;
                }
                .hover-stat:hover{
                    background-color: rgb(255, 233, 221);
                    color: $orange !important;
                    scale: 110%;
                }
                .hover-stat:focus{
                    background-color: $orange;
                    color: white !important;
                    scale: 110%;
                }
            }
        }
        .p-bottom {
            .portfolio-menu {
                gap: 1rem;
    
                .p-hover {
                    text-decoration: none;
                    padding: 0.5rem 1rem;
                    background-color: transparent;
                    border-radius: 10px;
                    color: $alpha;
                    transition: 0.3s;
                    font-family: "Roboto", sans-serif;
                    border: none;
                }
    
                .p-hover:hover {
                    background-color: #fcebe0;
                    color: $beta;
                }
    
                .p-hover:focus {
                    color: white;
                    background-color: $orange;
                }
    
            }
    
            .portfolio-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
                margin-top: 20px;
    
                div {
                    display: block;
    
                    .p-item {
                        display: flex;
                        align-items: left;
                        justify-content: center;
                        flex-direction: column;
                        border-radius: 10px;
                        box-shadow: $box-shadow;
                        transition: 0.3s;
    
                        img {
                            width: 40rem;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
    
                        .p-card-text {
                            display: flex;
                            align-items: left;
                            justify-content: center;
                            flex-direction: column;
                            padding: 1.5rem;
    
                            h6 {
                                color: $beta;
                                font-family: "Roboto", sans-serif;
                                font-weight: 600;
                            }
    
                            h4 {
                                color: $alpha;
                                font-family: "Questrial", sans-serif;
                                font-weight: 600;
                            }
    
                            p {
                                font-size: 14px;
                                color: grey;
                                font-family: "Roboto", sans-serif;
                            }
                        }
                    }
                }
    
                .p-all-items {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
                }
            }
        }
    }
    
    #sidebar:has(button[data-filter="web"]:focus)~.portfolio-container #all-items .p-item:not(.web),
    #sidebar:has(button[data-filter="graphics"]:focus)~.portfolio-container #all-items .p-item:not(.graphics),
    #sidebar:has(button[data-filter="motion"]:focus)~.portfolio-container #all-items .p-item:not(.motion),
    #sidebar:has(button[data-filter="branding"]:focus)~.portfolio-container #all-items .p-item:not(.branding) {
        display: none;
    }
}
@media (max-width:480px){

.about{

    .part-progress{

.child{
    padding-top: 10vh;
}

    }
}

.testimonial{

.carousel-part{

.big-img{
    display: none;
}

}

}
.services{

flex-direction: column;
.left-services{
.first{

    flex-direction: column;

}
.second{
    flex-direction: column;

}
}
}


    #portfolio{
        .portfolio{
            div{
                width: 100% !important;
            }
            .left-content , .right-content{
                width: 95% !important;
                padding-bottom: 2vh !important;
            }
        }
        .quis-p{
            width: 100% !important;
        }
    }
        .p-top {
            p {
                width: 90% !important;
            }
        }
    
        .p-bottom {
            .portfolio-menu {
                flex-wrap: wrap !important;
            }
            .portfolio-container {
                padding: 0 1rem;
                .p-all-items {
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                    flex-direction: column !important;
    
                    .p-item {
                        img {
                            width: 100% !important;
                        }
    
                        .p-card-text {
                            padding: 1rem;
    
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

.contact{
flex-direction:column ;
width: 100%;
.left{
    width: 100% !important;
}
.info{
    width: 100%;
}


}

.resume{
    padding-top: 10vh;
    padding-inline: 3vw;
}


}
    @media (max-width: 480px) {
        .home{
            .left{
                h1{
                    font-size: 80px;
                    font-family: "title-font";
                }
            }
            .flex{
                flex-direction: column;
            }
        }
        .about .info{
            width: 100% !important;
        }

        }



// testimoial

.testimonial {
    div {
        svg {
            width: 2px !important;
        }
    }


    .big-img {
        width: 25vw !important;
        border-radius: 20px;
    }

    .mini-img {
        width: 65px;
        border-radius: 50px;
    }




}

// services
.services {
    div {
        svg {
            width: 2px !important;

        }
    }

    .winbutton {
        .button {
            border-radius: 20px !important;

        }

        h1 {
            font-family: "title";
        }
    }

    .left-services {

        .aoa {
            padding: 0.5rem;
            box-shadow: 5px 10px 8px 10px #afaeae;
            padding-inline: 15px !important;
            border-radius: 10px;
            transition: 0.5s ease;
            cursor: pointer;


            i {
                width: 30px !important;
            }

        }

        
        .first {
            gap: 20px;
            padding-bottom: 3vh;
        }


        .second {
            gap: 20px;
        }
    }
    .left-services:hover > :not(:hover){
        opacity: 0.3;
    }
    .aoa{
        transform: scale(1,1);
    }
}



// frequently
.frequently {
    div {
        svg {
            width: 2px !important;

        }
    }

    .accordion {
        padding-inline: 15vw;

    }
}

// contact
.contact {
    display: flex;
    padding-top: 10vh;
    width: 100vw;
    padding-inline: 10vw;
    gap: 20px;

    .left {
        width: 50%;

        h1 {
            color: rgb(0, 42, 67);
            font-family: "title-font";
        }

        p {
            color: rgb(143, 146, 149);
            font-family: "navbar";
        }
    }

    .info {

        box-shadow: 5px 10px 8px 10px #afaeae;
        padding-inline: 15px !important;
        border-radius: 10px;
        width: 50%;

        input {
            padding: 0.5rem;
        }

        textarea {
            color: gray;
        }

        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        outline: none;
        padding-bottom:10vh;

        button {
            border: none;
            border-radius: 20px;
            color: white;
            background-color: rgb(255, 94, 0);
            padding: 0.5rem;
        }
    }
}
@media (max-width:480px){
.home{

    .left{
        h1{
            font-size:medium !important ;
        }
    }
}



    #portfolio{
        .portfolio{
            div{
                width: 100% !important;
            }
            .left-content , .right-content{
                width: 95% !important;
                padding-bottom: 2vh !important;
            }
        }
        .quis-p{
            width: 100% !important;
        }
    }
}
